/*导航栏*/
header nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 41px;
    background: #fff9e9;
    z-index: 3;
}
.nav-wrap{
    width: 1190px;
    margin: 0 auto;
}
header nav ul{
    height: 41px;
    overflow: hidden;
    padding-left: 55px;
}
header nav img{
    height: 41px;
    float: left;
}

header nav ul li{
    float: left;
    width: 105px;
    margin: 0 10px;
    line-height: 41px;
    text-align: center;
    /*cursor: pointer;*/
}
header nav ul li:first-child{
    letter-spacing:10px;
}
header nav ul li a{
    color: #333;
    font-size: 17px;
    font-family: 微软雅黑;
    width: 105px;
    height: 41px;
}
header nav ul li:nth-child(0){
    margin-right: 0;
}
/*主体部分*/
.main-body{
    width: 1190px;
    margin: 100px auto 0;
}
.showImg{
    width: 520px;
    height: 334px;
    float: left;
    margin-right: 50px;
}
.showImg img{
    width: 100%;
    height: 100%;
}
.goods_details{
    float: left;
    width: 620px;
}
.goods_details h2{
    color: #666;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    width: 520px;
    font-weight: bold;
}
.goods_details h2>span{
    color: #e6313d;
}
.goods_details h3 a{
    color: #cf000e;
    font-size: 14px;
}
.goods_details h3{
    margin-top: 5px;
}
.tit{
    width: 63px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.price-table{
    margin-top: 50px;
}
.price-table td{
    height: 34px;
    vertical-align: middle;
    font-size: 12px;
    color: #333;
}
.yen{
    font-size: 20px;
    font-weight: normal;
    padding-top: 8px;
    display: inline-block;
    vertical-align: top;
    color: #d6000e;
    line-height: 100%;
    font-family: Arial,Helvetica,sans-serif;
}
.price{
    font-size: 27px;
    font-weight: normal;
    color: #cf000e;
    padding-top: 2px;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
}
.line{
    display: block;
    float: left;
    width: 0;
    height: 28px;
    vertical-align: top;
    margin-top: 2px;
    border-left: dotted 1px #c9c9c9;
}
.sale-num{
    font-size: 14px;
}
.mt{
    color: #999;
    width: 100px;
    padding-left: 10px;
}
.mt span{
    float: right;
}
.yen-price{
    width: 300px;
}
.orange{
    color: #f60;
}
.blue{
    color: #89acd6;
}
.input{
    padding: 1px;
    width: 67px;
    height: 26px;
    float: left;
    margin-right: 10px;
}
.input input{
    width: 50px;
    height: 18px;
    line-height: 18px;
    padding: 4px 0;
    margin: 0;
    text-align: center;
    border: 0;
    outline: 0;
    float: left;
}
.option{
    width: 10px;
    text-align: center;
    display: inline-block;
}
.shoppingCart{
    width:180px;
    height:45px;
    background:red;
    float:left;
    text-align:center;
    font-size:18px;
    color:white;
    line-height:45px;
    margin-top:44px;
}
.payof{
    width:180px;
    height:45px;
    line-height:45px;
    text-align:center;
    float:left;
    font-size:18px;
    color:red;
    background:white;
    border:1px solid red;
    margin-top:44px;
    margin-left:60px;
}