.myCar{
	font-size:26px;
	display:inline-block;
	color:#0653bb;
	font-weight:bold;
	margin-left:20px;
}
.mainBody{
	width:70%;
	margin:0 auto;
	padding:20px;
}
.navList li{
	float:left;
	width:120px;
	background: #f2f2f2;
	height:40px;
	line-height:40px;
	text-align:center;
}
.navList .goods{
	width:360px;
}
.goodsList{
	margin-top:50px;
	float:left;
}
.goodsLi{
	height:80px;
	background: #f2f2f2;
}
.goodsIco{
	display:block;
	float:left;
	width:80px;
	height:60px;
	overflow:hidden;
	margin:0 8px;
	vertical-align: middle;
	margin-top:10px;
}
.goodsName{
	width:360px;
	float:left;
	line-height:20px;
	margin-right:8px;
	font-size:16px;
	margin-top:20px;
}
.price{
	width:120px;
	float:left;
	margin-right:8px;
	text-align:center;
	margin-top:28px;
}
.count{
	width: 120px;
	float: left;
	height:20px;	
	margin-right:8px;
	margin-top:24px;
}
.count>a{
	display:block;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	float:left;
	border:1px solid gray;
}
.count>input{
	float:left;
	width:40px;
	height:18px;
	text-align:center;
	line-height:18px;
	background: #f2f2f2;
	border-left:0;
	border-right:0;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}
.allMoney{
	width:120px;
	float:left;
	margin-right:8px;
	text-align:center;
	margin-top:28px;
}
.delete{
	float:left;
	width:90px;
	text-align:center;
	margin-top:28px;
	color:#ecae19;
}
.LastBalance{
	float:left;
	margin-top:40px;
	width:958px;
	background: #f2f2f2;
}
.LastBalance>li{
	float:left;
	width:120px;
	text-align:center;
	background: #f2f2f2;
	height:40px;
	line-height:40px;
}
.deleteGoods{
	font-size:14px;
	color:#ecae19;
	cursor:pointer;
}
.LastBalance .yuan{
	float:right;
	width:160px;
}
.continueShopping,.goAccount{
	float:right;
	text-align:center;
	line-height:45px;
	color:white;
	margin-top:30px;
	cursor:pointer;
}
.continueShopping{
	width: 150px;
	height:45px;
	border:1px solid red;
	background:pink;
	margin-right:10px;
}
.goAccount{

	width: 152px;
	height:47px;
	background:red;
	margin-right:120px;
}
